@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

/* LEMONMILK */
@font-face {
  font-family: 'LEMONMILK';
  src: url('/fonts/LEMONMILK-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LEMONMILK-BOLD';
  src: url('/fonts/LEMONMILK-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* AEONIK */
@font-face {
  font-family: 'AEONIK';
  src: url('/fonts/Aeonik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}